---
import "../styles/cv.scss";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav";
---

<html>
  <head>
    <MainHead title="CV" description="My CV" />
  </head>
  <body>
    <Nav />
    <div class="page-wrapper">
      <div class="main-data-wrapper">
        <div class="main-data">
          <h1>Curriculum Vitae</h1>
          <h3>Sören Christ</h3>
          <table style="margin-top: 2em;">
            <tbody>
              <tr>
                <td>
                  <img
                    src="/icons/calendar.svg"
                    alt="Calendar icon"
                    class="cv-icon"
                  />
                </td>
                <td>Birthday</td>
                <td>May, 28th 1995</td>
              </tr>
              <tr>
                <td>
                  <img src="/icons/home.svg" alt="Home icon" class="cv-icon" />
                </td>
                <td>Residence</td>
                <td>Stuttgart, Germany</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/icons/email.svg"
                    alt="Email icon"
                    class="cv-icon"
                  />
                </td>
                <td>Email</td>
                <td
                  ><a href="mailto://s.christ@mailbox.org"
                    >s.christ@mailbox.org</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/icons/github.svg"
                    alt="Github icon"
                    class="cv-icon"
                  />
                </td>
                <td>GitHub</td>
                <td
                  ><a href="https://github.com/soerenchrist"
                    >github.com/soerenchrist</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="image-wrapper">
          <img src="/portrait.jpg" class="portrait" alt="Me" />
        </div>
      </div>
      <div class="section experience">
        <h2>Experience</h2>
        <table>
          <tbody>
            <tr>
              <td> 05/2022 - now</td>
              <td>
                <div class="exp-header">BCM Solutions GmbH</div>
                <div class="exp-body">
                  IT Consultant
                  <ul>
                    <li>Software development in Java and TypeScript</li>
                    <li>Consultant for external companies</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td> 10/2017 - 04/2022</td>
              <td>
                <div class="exp-header">AZO GmbH + Co. KG</div>
                <div class="exp-body">
                  System and process design
                  <ul>
                    <li>SAP development and consulting</li>
                    <li>Development of a e-commerce system</li>
                    <li>Application and mobile development in C#</li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="section education">
        <h2>Education</h2>
        <table>
          <tbody>
            <tr>
              <td> 10/2014 - 09/2017</td>
              <td>
                <div class="exp-header">
                  Duale Hochschule Baden-Württemberg in Mosbach
                </div>
                <div class="exp-body">
                  Applied Computer Science
                  <ul>
                    <li>Partner company: AZO GmbH + Co. KG</li>
                    <li>Final Grade: 1.2</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td> 2011 - 2014</td>
              <td>
                <div class="exp-header">Technisches Gymnasium Mosbach</div>
                <div class="exp-body">
                  General university entrance qualification
                  <ul>
                    <li>Focus subject: Information technologies</li>
                    <li>Final grade: 1.2</li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="section knowledge">
        <h2>Knowledge and interests</h2>
        <table>
          <tbody>
            <tr>
              <td>Programming languages</td>
              <td>
                <table class="knowledges">
                  <tbody>
                    <tr>
                      <td> ABAP</td>
                      <td>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                      </td>
                    </tr>
                    <tr>
                      <td> C#</td>

                      <td>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                      </td>
                    </tr>
                    <tr>
                      <td> JavaScript</td>

                      <td>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level-outer"></span>
                      </td>
                    </tr>
                    <tr>
                      <td> TypeScript</td>

                      <td>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level-outer"></span>
                        <span class="xp-level-outer"></span>
                      </td>
                    </tr>
                    <tr>
                      <td> Java</td>

                      <td>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level"></span>
                        <span class="xp-level-outer"></span>
                        <span class="xp-level-outer"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>Languages</td>
              <td>
                <table class="knowledges">
                  <tbody>
                    <tr>
                      <td>German (Mother tongue)</td>
                    </tr>
                    <tr>
                      <td>English (Fluent)</td>
                    </tr>
                    <tr>
                      <td>French (Basics)</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>Social commitment</td>
              <td>
                <div class="exp-header">Sportverein Krumbach</div>
                <div class="exp-body">
                  <ul>
                    <li>Active football player</li>
                    <li>Member of the board since 2015</li>
                    <li>Coach for youth players</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>Others</td>
              <td>
                Instructor qualification (AdA) <br />
                First Responder <br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section projects">
        <h2>Projects</h2>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Bausparkasse Schwäbisch Hall</td>
              <td align="right" class="date">09/2022 - now</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                Java, Spring, Spring Batch, Maven, GoSmartSuite, Python
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of multiple Spring Batch applications to
                    automate customer letters
                  </li>
                  <li>
                    Improvement of manual letter writing using Python scripts
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Private Project</td>
              <td align="right" class="date">09/2022 - 11/2022</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                .NET MAUI, .NET 6, ReactiveUI, Windows App SDK, Bluetooth Low
                Energy
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of BLE Server: an application to simulate BLE
                    devices on a windows machine
                  </li>
                  <li>
                    Simulate Bluetooth Low Energy devices on windows to simplify
                    the development of IoT devices
                  </li>
                  <li>
                    Features: Create virtual devices, services and
                    characteristics and add data simulators to mimic real
                    devices
                  </li>
                  <li>
                    Available in the Microsoft Store: <a
                      href="https://bleserver.soerenchrist.de"
                      >bleserver.soerenchrist.de</a
                    >
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Private Project</td>
              <td align="right" class="date">07/2021 - 08/2022</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                TypeScript, NextJS, NextAuth, tRPC, Leaflet, Prisma, AWS S3,
                PlanetScale
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of Tourgether: a social network for hiking tours
                  </li>
                  <li>Reading and parsing GPS tracks from GPX files</li>
                  <li>
                    Reading data about more than 20.000 mountains from
                    OpenStreetMaps and WikiData
                  </li>
                  <li>Authentication using NextAuth and Auth0</li>
                  <li>
                    Implementation of social features like friend requests and
                    news feeds
                  </li>
                  <li>
                    Data storage in a PlanetScale database using Prisma ORM
                  </li>
                  <li>Storage of images and GPX files in an AWS S3 Bucket</li>
                  <li>
                    Won 11th place in a Hackathon from Hashnode and PlanetScale
                  </li>
                  <li>
                    Publicly available on <a href="https://tourgether.eu"
                      >tourgether.eu</a
                    >
                  </li>
                  <li>
                    Open Source on Github: <a
                      href="https://github.com/soerenchrist/tourgether"
                      >github.com/soerenchrist/tourgether</a
                    >
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO GmbH + Co.KG</td>
              <td align="right" class="date">03/2021 - 04/2022</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                ABAP, SAP Integration Suite, SAP MM, SAP DMS, IDocs, ALE, Java,
                JSP, JavaScript, Vue, C++
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of an e-commerce system based on SAP Commerce
                    Cloud
                  </li>
                  <li>
                    Connection of an on-premise SAP system for data
                    synchronization of materials and documents via SAP Cloud
                    Integration Suite
                  </li>
                  <li>
                    Data exchange using iDocs (asnychronous) and Remote Function
                    Calls (synchronous)
                  </li>
                  <li>Backend development using Java and Spring</li>
                  <li>
                    Frontend adjustments with Java Server Pages (JSP) and Vue.JS
                  </li>
                  <li>
                    Conversion of 3D models from internal format to a
                    web-optimized version using C++
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Private Project</td>
              <td align="right" class="date">01/2022 - 03/2022</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                C#, .NET 6, ASP.NET Core, Blazor WebAssembly, Entity Framework
                Core, Postgres
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of a member and finance management solution for
                    my local sports club
                  </li>
                  <li>
                    Create and upload receipts, manage members and upload
                    documents
                  </li>
                  <li>
                    Group receipts by category and events to generate finance
                    reports
                  </li>
                  <li>
                    Backend with ASP.NET Core including JWT Authentication
                  </li>
                  <li>Data storage in a Postgres SQL database</li>
                  <li>Frontend with Blazor WebAssembly and MudUI</li>
                  <li>
                    Automatically send email notifications for upcoming
                    birthdays
                  </li>
                  <li>Hosted on a linux server with custom domain</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Private Project</td>
              <td align="right" class="date">11/2021 - 02/2022</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                C#, ASP.NET Core, .NET 6, Vue, JavaScript, Docker,
                EntityFramework Core, SQLite
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>Development of a web application to analyze ski days</li>
                  <li>
                    Reading and parsing GPS tracks from proprietary Garmin
                    formats
                  </li>
                  <li>Displaying the data on a map using Leaflet.JS</li>
                  <li>
                    Matching the GPS tracks with map information from
                    OpenStreetMaps
                  </li>
                  <li>Visualisation of statistics with Chart.js</li>
                  <li>Data Storage using a SQLite Database</li>
                  <li>Deployment via Docker on a Linux Server</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Private Project</td>
              <td align="right" class="date">04/2021 - 05/2021</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2"> C#, .NET 6, Avalonia, MVVM</td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of a desktop application for converting images
                    to pixel images for output on a CNC machine
                  </li>
                  <li>
                    Cross Platform (Windows, Linux, Mac) Application using .NET
                    6, Avalonia UI and ReactiveUI
                  </li>
                  <li>
                    Implementation of several algorithms for conversion to pixel
                    data
                  </li>
                  <li>
                    Route optimization using KdTree data structure for the CNC
                    machine and output as GCODE
                  </li>
                  <li>
                    Open Source on Github: <a
                      href="https://github.com/soerenchrist/pixelizer"
                      >github.com/soerenchrist/pixelizer</a
                    >
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO GmbH + Co.KG</td>
              <td align="right" class="date">08/2020 - 05/2021</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                C#, ABAP, ABAP OO, SAP DMS, BAPI, RFC, MS SQL</td
              >
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Connection of an engineering system to the central SAP
                    system
                  </li>
                  <li>
                    Synchronization of master data such as materials, parts
                    lists and documents
                  </li>
                  <li>Analysis and specification of the process</li>
                  <li>
                    Development of a service for bidirectional data exchange
                  </li>
                  <li>Calling of BAPI interfaces via RFCs</li>
                  <li>
                    Storage of documents in SAP DMS and Microsoft SQL database
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO Gmbh + Co.KG</td>
              <td align="right" class="date">03/2020 - 05/2020</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2"> C#, .NET 5, WPF, ReactiveUI</td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of a new application for employee time recording
                  </li>
                  <li>Reading of company staff cards using a NFC reader</li>
                  <li>
                    Fetching data (time, holidays, etc.) from the SAP system
                  </li>
                  <li>
                    Buffering of data in a SQLite database for responsiveness of
                    offline mode
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO GmbH + Co.KG</td>
              <td align="right" class="date">10/2018 - 08/2021</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                C#, ABAP, SAP Gateway, OData, Xamarin Forms, Dynpro
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>Digitalization of the packaging and shipping process</li>
                  <li>Design and specification of the new process</li>
                  <li>
                    Development of an Android app using C# and Xamarin Forms to
                    view packaging lists, take pictures and send data to the SAP
                    system
                  </li>
                  <li>
                    Direct connection to the SAP system using SAP Gateway
                    Services
                  </li>
                  <li>Reading data directly from SAP MM and PP</li>
                  <li>
                    Development of a SAP transaction for data display using
                    Dynpro, ALV and Screen Painter
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO GmbH + Co.KG</td>
              <td align="right" class="date">10/2017 - 05/2018</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                ABAP, ABAP OO, SAP MM, Dynpro, Screen Painter, Adobe Forms
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Development of a system to manage and organize raw materials
                    data in SAP
                  </li>
                  <li>Storage of test reports and data sheets in SAP DMS</li>
                  <li>Automatic generation of PDF reports with Adobe Forms</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Private Project</td>
              <td align="right" class="date">04/2018 - 05/2018</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2"> Android, Kotlin</td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Participation of a coding competition by IT Talents and
                    Volkswagen
                  </li>
                  <li>
                    Prototyping of a "smart vehicle" companion Android app using
                    Kotlin
                  </li>
                  <li>Implementation of Unit Tests and Clean Architecture</li>
                  <li>Winner of the 2nd price</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO GmbH + Co. KG / Dual University</td>
              <td align="right" class="date">06/2017 - 09/2017</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Dual student / thesis</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2"> ABAP, ABAP OO, C#, WPF</td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Design and prototyping of a software solution to optimize
                    the engineering process
                  </li>
                  <li>
                    Reading orders from SAP via Remote Function Calls from a C#
                    WPF application
                  </li>
                  <li>
                    Integration of the WPF views into an add-in for the CAD
                    system AutoCAD
                  </li>
                  <li>
                    Semi-Automatic generation of P&ID diagrams using the order
                    data
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">Dual University</td>
              <td align="right" class="date">09/2016 - 03/2017</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Dual student</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2">
                SAP Cloud Platform, Python, Angular, JavaScript, OPC UA, BLE
              </td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Connection of automation systems via OPC UA and Bluetooth
                    Low Energy
                  </li>
                  <li>
                    Reading the data using a Python Backend and providing it as
                    a Flask API
                  </li>
                  <li>
                    Storage of the data in the SAP Cloud Platform IoT Services
                  </li>
                  <li>
                    Development of an Visualisation and customization user
                    interface with Angular
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO Gmbh + Co.KG / Dual University</td>
              <td align="right" class="date">03/2015 - 09/2015</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Dual student</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2"> ABAP, ABAP OO, CAD Desktop</td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>
                    Optimization of the interface between SAP and the CAD System
                    Inventor
                  </li>
                  <li>
                    Automatic comparison of the Bill of materials from SAP and
                    the physical device in Inventor
                  </li>
                  <li>
                    Adaption of existing logic for company needs using SAP BAdI
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="project">
          <tbody>
            <tr>
              <td> Company/Industry</td>
              <td class="company">AZO Gmbh + Co.KG / Dual University</td>
              <td align="right" class="date">03/2015 - 09/2015</td>
            </tr>
            <tr>
              <td> Function</td>
              <td>Dual student</td>
            </tr>
            <tr>
              <td> Technology/Applications</td>
              <td colspan="2"> C#, ABAP</td>
            </tr>
            <tr>
              <td> Description</td>
              <td colspan="2">
                <ul>
                  <li>Integration of legacy order data in SAP SD and SAP PS</li>
                  <li>Export of the old data using a C# application</li>
                  <li>
                    Import of the data and the documents in SAP using ABAP
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
