---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Footer from "../components/Footer/index.jsx";
import PortfolioPreview from "../components/PortfolioPreview/index.jsx";

function randomInteger(min, max) {
	return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getAge(dateString) {
    var today = new Date();
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }
    return age;
}
// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const random = randomInteger(0, projects.length - 1);
const featuredProject = projects[random];

const age = getAge("1995-05-28")

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<head>
	<MainHead title="Sören Christ: Personal Site" description="Sören Christ: Developer" />
	<style lang="scss">
		$w-s: 750px;

		.hero {
			position: relative;
			overflow: hidden;

			@media (min-width: $w-s) {
				height: 45vw;
			}
		}

		.img {
			display: block;
			width: 100%;
			height: auto;
		}

		.gradient,
		.gradient2 {
			background-image: url("/assets/mesh-gradient.jpg");
			background-size: cover;
			pointer-events: none;
			mix-blend-mode: screen;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.gradient2 {
			mix-blend-mode: multiply;
			background-size: cover;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-left: 2rem;

			@media (min-width: $w-s) {
				padding-left: 4rem;
			}
		}

		.title {
			font-weight: 900;
			font-size: var(--f-u8);
			margin-bottom: 0.5rem;
			margin-top: 0;
			color: #dddddd;

			@media (min-width: $w-s) {
				font-size: var(--f-u12);
			}
		}

		.grid {
			display: grid;
			grid-gap: 2rem;

			@media (min-width: 1200px) {
				grid-template-columns: 2fr 1fr;
			}
		}

		.sectionTitle {
			font-weight: 700;
			font-size: var(--f-u8);
			margin-top: 4rem;
			margin-bottom: 2rem;
		}

		.desc {
			font-size: var(--f-u2);
			color: #dddddd;
			margin-top: 1.5rem;
			margin-bottom: 0;
		}

		.subtitle {
			display: block;
			font-weight: 400;
			font-size: var(--f-d6);
			letter-spacing: -0.0625em;
		}

		.bio {
			line-height: 2;
			margin-bottom: 2rem;

			>span:first-of-type {
				line-height: 1;
				margin-bottom: 0.5em;
				display: block;
				font-weight: 700;
				font-size: var(--f-u4);
			}
		}
	</style>
</head>

<body>
	<Nav />
	<header class="hero">
		<img width="1600" height="1131" class="img" src="title_image.jpg" />
		<div class="gradient2"></div>
		<div class="overlay">
			<h1 class="title">
				<small class="subtitle">Hi, I am </small>Sören Christ
			</h1>
			<p class="desc">Developer by day, Batman by night.</p>
		</div>
	</header>
	<main class="wrapper mt2 mb4">
		<div class="grid">
			<div class="section">
				<h3 class="sectionTitle">Selected Work</h3>
				<PortfolioPreview project={featuredProject} />
				<div class="tac mt4">
					<a href="/projects">
						<Button>View All</Button>
					</a>
				</div>
			</div>
			<div class="section">
				<h3 class="sectionTitle">About me</h3>
				<p class="bio">
					<span>Hello!</span> I’m Sören, and this is my website. I am {age} years old and live in Stuttgart, Germany. I am a Software Developer using many different technologies. Check out my projects!
				</p>
				<p>
					<a href="/about">Read more</a>
				</p>
			</div>
		</div>
	</main>
	<Footer />
</body>

</html>